.vscode/
.idea/
venv/

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

.ipynb_checkpoints/
*/.ipynb_checkpoints/

*.csv
*/*.csv

*.zip
*/*.zip

courses/*/*/train-images
courses/*/*/train-labels
courses/*/*/test-images
courses/*/*/test-labels

courses/*/train-images
courses/*/test-images

*.h5

*/*/generative-dog-images/
*/*/dados-birds-species/